/* Generel */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("images/k.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Fonts */

@font-face {
  font-family: "harrypotter";
  src: url("fonts/HarryP-MVZ6w.ttf");
}

h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 20px;
  font-family: "harrypotter";
}

h2 {
  font-size: 1.5em;
  color: white;
}

h3 {
  font-size: 1.2em;
  color: white;
}

.hogwarts {
  display: block;
  width: 250px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Filtering/sorting */

#navigator {
  background: linear-gradient(0deg, rgba(40, 33, 59, 1) 0%, rgba(16, 12, 29, 1) 67%, rgba(8, 8, 8, 1) 100%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  color: white;
}

#navigator button {
  margin-bottom: 10px;
}

#navigator p {
  margin-bottom: 10px;
  font-weight: 600;
}

@media (min-width: 1400px) {
  #navigator {
    display: flex;
    color: white;
    justify-content: space-between;
  }

  #navigator button {
    margin-bottom: 0;
  }

  #navigator p {
    margin: auto 0;
    margin-right: 8px;
  }

  .filtering {
    display: flex;
  }

  .sorting {
    display: flex;
  }
}

.sort_by {
  background: linear-gradient(0deg, rgba(106, 128, 145, 1) 0%, rgba(82, 100, 129, 1) 67%);
  color: black;
  text-decoration: underline;
}

.sort_by[data-sort-direction="asc"]::after {
  content: "▲";
}

.sort_by[data-sort-direction="desc"]::after {
  content: "▼";
}

.searching {
  margin: auto 0;
}

#searchfunction {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

button.filter {
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

button.filter:hover {
  background: linear-gradient(0deg, rgba(106, 128, 145, 1) 0%, rgba(82, 100, 129, 1) 67%);
  color: black;
  text-decoration: underline;
}

button.filter:focus {
  background: linear-gradient(0deg, rgba(106, 128, 145, 1) 0%, rgba(82, 100, 129, 1) 67%);
  color: black;
}

/* Students overview */
#students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  text-align: center;
  margin: 20px;
}

.studentinfo {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(40, 33, 59, 1) 0%, rgba(16, 12, 29, 1) 67%, rgba(8, 8, 8, 1) 100%);
}

.name:first-child {
  margin-top: 20px;
}

.name:nth-child(2) {
  margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
  width: 50%;
}

.buttons {
  margin-top: 10px;
}

.prefect {
  background-image: url("./images/prefect1.png");
  width: 50px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prefect:hover {
  filter: none;
}

.squad {
  background-image: url("./images/squad1.png");
  width: 60px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.squad:hover {
  filter: none;
}

.expell {
  background-image: url("./images/expell.png");
  width: 40px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.expell:hover {
  filter: none;
}

.gray {
  filter: grayscale();
}

/* Modal / dialog box - prefect */

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.502);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 2em;
  background: rgb(21, 21, 21);
  position: relative;
  color: rgb(0, 0, 0);
  border: 1px solid white;
}

.sidebyside {
  display: flex;
  justify-content: space-evenly;
}

.sidebyside button {
  margin-top: 20px;
  border: 1px solid white;
  width: 230px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background: linear-gradient(0deg, rgba(40, 33, 59, 1) 0%, rgba(16, 12, 29, 1) 67%, rgba(8, 8, 8, 1) 100%);
}

.sidebyside button:hover {
  background: linear-gradient(0deg, rgba(106, 128, 145, 1) 0%, rgba(82, 100, 129, 1) 67%);
  color: black;
}

.close_dialog {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-size: 1.2em;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Pop-up - details */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  padding: 10px;
  padding-top: 0;
}

#popup.active {
  transform: translate(-50%, -50%) scale(1);
}

#close {
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin: 10px;
  font-size: 2em;
  border: none;
  background-color: transparent;
  color: white;
}

#popup .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.housecrest {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.infotext {
  padding: 10px 15px;
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Hacking */
.hogwarts {
  cursor: pointer;
}

/* .hogwarts:hover {
  animation-play-state: paused;
} */

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* hangAndDropLeft animation keyframes */

.hanging {
  animation-name: hanging_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes hanging_kf {
  from {
    transform-origin: top left;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
  }
  75% {
    transform: rotate(20deg);
    transform-origin: top left;
  }
  to {
    transform: rotate(30deg);
    transform-origin: top left;
  }
}
