/* Generel */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

/* Filtering/sorting */

.filtering {
  display: flex;
  margin-left: 20px;
}
.filtering p {
  color: white;
  margin: 10px;
  margin-left: 0;
}

.sorting {
  display: flex;
  margin-left: 20px;
}
.sorting p {
  color: white;
  margin: 10px;
  margin-left: 0;
}

button.filter {
  border: 1px solid #decba2;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

button.filter:hover {
  background-color: #decba2;
  color: black;
}

button.filter:focus {
  background-color: #decba2;
  color: black;
}

/* Students overview */
#students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  text-align: center;
  margin: 20px;
}

.studentinfo {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  border: 1px solid #decba2;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #786d57 0%, #decba2 62%, #e8e0c5 100%);
}

.name:first-child {
  margin-top: 20px;
}

.name:nth-child(2) {
  margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
  width: 50%;
}

.prefect {
  background-image: url("./images/prefect.png");
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prefect:hover {
  filter: none;
}

.squad {
}

.squad:hover {
}

.gray {
  filter: grayscale();
}

/* Modal / dialog box - prefect */

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.399);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px rgb(57, 56, 56);
  border-radius: 10px;
  padding: 2em;
  background: rgb(49, 48, 48);
  position: relative;
  color: white;
}

.sidebyside button {
  margin-top: 10px;
  border: 1px solid #decba2;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #decba2;
  margin-right: 20px;
}

.sidebyside button:hover {
  background-color: rgb(34, 34, 34);
  color: white;
}

.close_dialog {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-size: 1.2em;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Pop-up - details */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #decba2;
  border-radius: 10px;
  z-index: 10;
  /* background: linear-gradient(135deg, #786d57 0%, #decba2 62%, #e8e0c5 100%); */
  width: 500px;
  max-width: 80%;
}

#popup.active {
  transform: translate(-50%, -50%) scale(1);
}

#close {
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin: 10px;
  font-size: 2em;
  border: none;
  background-color: transparent;
  color: white;
}

#popup .image {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.housecrest {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.infotext {
  padding: 10px 15px;
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
